.form_reloj {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #333;
    position: relative;
  }
  
  .clock div {
    position: absolute;
    background: #333;
    transform-origin: center;
  }
